{% extends "base.html" %}
{% block content %}

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>404! Page Not Found.</h1>
					<h3>You can download the source code from:<br /><a href="https://github.com/himadriganguly/githubnavigator" target="_blank">https://github.com/himadriganguly/githubnavigator</a></h3>
					<h3>GitHub API<br /><a href="https://developer.github.com/v3/" target="_blank">https://developer.github.com/v3/</a></h3>
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="img/Octocat.png" alt="Octocat">
				</div><!-- /col-lg-6 -->

			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

{% endblock %}
